<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        <script src={{ asset('js/style.js') }}></script>
    </head>
    <body>
        {% include 'composants/navbar.html.twig' %}
        {% block body %}{% endblock %}
    </body>
</html>
